<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Get Fact Check</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="dashboard.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Participant</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="username"><strong>PID</strong></label></div><label>Label</label></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5"></div>
                </div><label><strong>Condition 1 - Single Evidence</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                                <th>Trust Score</th>
                                <th>Satisfaction Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Homeland is an American television spy thriller based on the Israeli television series Prisoners of War.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Liverpool F.C. was valued at $1.55 billion at one point.</td>
                                <td>Cell 4</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Drinking Corona beer causes the coronavirus in humans</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Lemmy was known for his distinctive playing style and appearance.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Jamie Murray is a three-time Grand Slam doubles loser.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                        </tbody>
                    </table>
                </div><label><strong>Condition 2 - Three Evidences</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                                <th>Trust Score</th>
                                <th>Satisfaction Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Stranger Things is set in Bloomington, Indiana.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>The new coronavirus cannot be transmitted through mosquito bites</td>
                                <td>Cell 4</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Colin Kaepernick became a starting quarterback during the 49ers 63rd season in the National Football League.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Lizzy Caplan starred in television show like True Blood.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Aaron Burr killed Alexander Hamilton in New Jersey.</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                        </tbody>
                    </table>
                </div><label><strong>Condition 3 - Both Supporting and Refuting Evidence, No Label</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                                <th>Trust Score</th>
                                <th>Satisfaction Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>COVID-19 virus can be transmitted in areas with hot and humid climates</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Arsonists are responsible for Australia’s Bushfire Crisis</td>
                                <td>Cell 4</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Medicare is paying hospitals $13,000 for patients admitted with COVID-19 diagnoses and $39,000 if those patients are placed on ventilators</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Scientists have discovered a berry — found in only one region of Australia — that can cure cancer in 48 hours</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Wombats are herding animals and inviting them into their burrows in order to escape them from the wildfires in Australia</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                        </tbody>
                    </table>
                </div><label>Condition 4 - Only Evidence, No Label</label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                                <th>Trust Score</th>
                                <th>Satisfaction Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Taking a hot bath does not prevent the new coronavirus disease</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Southampton F.C. came in second in the First Division in 1983 -- 1984.</td>
                                <td>Cell 4</td>
                                <td>Cell 3</td>
                                <td>Cell 3</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Russia released more than 500 lions to make sure that people stay inside during the COVID-19 pandemic</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>A government shutdown in Australia in 1975 ended with the dismissal of the prime minister and all members of Parliament</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <td>Amid a nationwide COVID-19 lockdown, Italians reported seeing wildlife such as swans and dolphins "returning" to newly tranquil waterways, ports, and canals</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/js/script.min.js"></script>
</body>

</html>