<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Get Fact Check</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Get Fact Check</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="dashboard.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="profile.html"><i class="fas fa-user"></i><span>Participant Analysis</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Sentence Analysis</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Participant</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="username"><strong>PID</strong></label>
                                                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Select Participant</button>
                                                                <div id = "dropdown_menu" class="dropdown-menu" role="menu"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5"></div>
                </div><label style="padding: 11px;"><strong>Condition 1 - Single Evidence</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                            </tr>
                        </thead>
                        <tbody id = "table-1">
                        </tbody>
                    </table>
                </div><label style="padding: 11px;"><strong>Condition 2 - Three Evidences</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                            </tr>
                        </thead>
                        <tbody id = "table-2">

                        </tbody>
                    </table>
                </div><label style="padding: 11px;"><strong>Condition 3 - Both Supporting and Refuting Evidence, No Label</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                            </tr>
                        </thead>
                        <tbody  id = "table-3">
                            
                        </tbody>
                    </table>
                </div><label style="margin: 0px;padding: 11px;"><strong>Condition 4 - Only Evidence, No Label</strong></label>
                <div class="table-responsive">
                    <table class="table">
                        <thead >
                            <tr>
                                <th>Sentence</th>
                                <th>Pre-Inclination</th>
                                <th>Prior Knowledge</th>
                                <th>Post-Inclination</th>
                            </tr>
                        </thead>
                        <tbody id = "table-4">
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Get Fact Check 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/js/script.min.js"></script>
    <script src="static/js/profile.js"></script>
</body>

</html>